@import '../../styles/base';

.card {
  cursor: pointer;
  max-width: 16%;
  margin: 1.2rem 0.5rem;
  overflow: hidden;
  border-radius: 0.95rem !important;
  border-color: #333 !important;
  background-color: transparent !important;

  .card-img {
    border-radius: 0.95rem !important;
    height: 87%;
  }
  .card-body {
    //padding: 1.25rem 0.85rem;
    background-color: $title-background-color;
    color: $white;
  }
  .card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.card:hover {
  .card-img {
    transition: transform 0.5s;
    transform: scale(1.1);
    opacity: 0.3;
  }
}

.card:first-child {
  margin-left: 0;
}

.card:last-child {
  margin-right: 0;
}
